<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title th:title="${image.name}"></title>
  <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
  <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
  <meta charset="UTF-8">
  <meta content="width=device-width" name="viewport">
</head>
<body>
<div>
  <a href="/" style="color: inherit;">
    <h1>イラスト検索</h1>
  </a>
</div>
<a target="_self" th:href="${httpUrl}+${image.path}">
  <img th:alt="${image.name}" th:src="${httpUrl}+${image.path}" width="100%" loading="eager">
</a>
<th:block th:each="metadata : ${image.metadata}">
  <p th:text="${metadata.type}" ></p>
  <div class="metadata_type">
    <th:block th:each="value : ${metadata.values}">
      <div class="metadata">
        <a th:href="'/search?'+${metadata.type}+'='+${value}" th:text="${value}"></a>
      </div>
    </th:block>
  </div>
</th:block>
<footer>
  <p th:text="'App version is '+${version}"></p>
</footer>
</body>
</html>
