<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <meta content="width=device-width" name="viewport">
</head>
<body>
<div th:fragment="search-form(message,order,sort,groups,currentGroup)">
  <form action="#" method="GET" th:action="@{/search}"><input id="tags" name="tags"
                                                              onfocus="this.select();"
                                                              th:value="${message}"
                                                              class="input-tags"
                                                              type="text"><select id="group"
                                                                                  name="group">
    <option th:each="group : ${groups}" th:inslie="text" th:selected="${group.name == currentGroup}"
            th:value="${group.name}">[[${group.name}]]
    </option>
  </select><select id="sort" name="sort">
    <option th:selected="${sort} == image_id" value="image_id">画像のID</option>
    <option th:selected="${sort} == image_name" value="image_name">画像の名前</option>
    <option th:selected="${sort} == image_url" value="image_url">画像のURL</option>
    <option th:selected="${sort} == tag_count" value="tag_count">タグの数</option>
    <option th:selected="${sort} == random" value="random">ランダム</option>
  </select><select id="order" name="order">
    <option th:selected="${order} == asc" value="asc">昇順</option>
    <option th:selected="${order} == desc" value="desc">降順</option>
  </select><select id="merge" name="merge"><option th:selected="${merge} == true" value="true">マージする</option><option th:selected="${merge} == true" value="false">マージしない</option></select><input type="submit" value="検索"></form>
</div>
</body>
</html>
