<!DOCTYPE html>
<html lang="ja">
<head>
  <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
  <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
  <meta charset="UTF-8">
  <meta content="width=device-width" name="viewport">
  <title th:text="${message}+' の検索結果 : '+${count}"></title>
</head>
<body>
<a href="#page_top" class="page_top_btn">Top</a>
<div id="page_top">
  <a href="/" style="color: inherit;"><h1>イラスト検索</h1></a>
</div>

<div th:include="search-form :: search-form(${message},${order},${sort},${groups},${group})"></div>
<p>[[${message}+' の検索結果 : '+${count}]]</p>
<th:block th:if="${images.size == 0}">
  <h2>検索結果が見つかりませんでした</h2>
</th:block>
<div class="wrapper">


  <section class="main">

    <th:div th:if="${pageCount != 0}" class="paging">
      <th:block th:if="${page != 0}"><a
          th:href="${'search?tags=' + tags + '&order=' + order + '&sort=' + sort + '&group=' + group + '&page=' + (page - 1) + '&limit=' + limit+'&merge='+merge}">←</a>
      </th:block>
      <th:block th:each="pageNumber : ${#numbers.sequence(0,pageCount)}">
        <a th:if="${pageNumber != page}"
           th:href="${'search?tags=' + tags + '&order=' + order + '&sort=' + sort + '&group=' + group + '&page=' + pageNumber+ '&limit=' + limit+'&merge='+merge}">[[${pageNumber}]]</a>
        <th:span th:if="${pageNumber == page}">[[${pageNumber}]]</th:span>
      </th:block>
      <th:block th:if="${page != pageCount}"><a
          th:href="${'search?tags=' + tags + '&order=' + order + '&sort=' + sort + '&group=' + group + '&page=' + (page + 1) + '&limit=' + limit+'&merge='+merge}">→</a>
      </th:block>
    </th:div>
    <th:block th:each="image : ${images}">
      <div class="images">
        <hr>
        <a target="_blank" th:href="'/image/'+${image.id}">
          <img th:alt="${image.name}" th:src="${httpUrl}+${image.path}" width="100%" loading="lazy">
        </a>
        <p th:text="${image.name}"></p>
      </div>
    </th:block>
    <th:div th:if="${pageCount != 0}" class="paging">
      <th:block th:if="${page != 0}"><a
          th:href="${'search?tags=' + tags + '&order=' + order + '&sort=' + sort + '&group=' + group + '&page=' + (page - 1) + '&limit=' + limit+'&merge='+merge}">←</a>
      </th:block>
      <th:block th:each="pageNumber : ${#numbers.sequence(0,pageCount)}">
        <a th:if="${pageNumber != page}"
           th:href="${'search?tags=' + tags + '&order=' + order + '&sort=' + sort + '&group=' + group + '&page=' + pageNumber+ '&limit=' + limit+'&merge='+merge}">[[${pageNumber}]]</a>
        <th:span th:if="${pageNumber == page}">[[${pageNumber}]]</th:span>
      </th:block>
      <th:block th:if="${page != pageCount}"><a
          th:href="${'search?tags=' + tags + '&order=' + order + '&sort=' + sort + '&group=' + group + '&page=' + (page + 1) + '&limit=' + limit+'&merge='+merge}">→</a>
      </th:block>
    </th:div>
  </section>
  <section class="side">
    <h2>おすすめタグ</h2>
    <div class="tags">

      <th:block th:each="tag : ${tagCount}">
        <div class="tag">
          <a th:href="${'search?tags=' + tag.tag.name}">
            <p th:text="'#'+${tag.tag.name}"></p>
          </a>
        </div>
      </th:block>
    </div>
  </section>
</div>
<footer><p th:text="'App version is '+${version}"></p></footer>
</body>
</html>
